@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');
:root{
    --base-color : rgb(223, 223, 205);
    --darken-base: rgb(212, 212, 190);
    --primary-color: #2D3B57;
    --second-color: #6281A5;
}
body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
    background-color: var(--base-color);
    scroll-behavior: smooth;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--darken-base);
    
}
 
::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--second-color); 
}
/* scroll bar ends */
/* nav */
#nav-bar{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--primary-color);
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-bar li{
    list-style: none;
    color: var(--base-color);
    font-size: 13px;
    margin-right: 4vw;
    background-color: var(--primary-color);
}
#nav-bar li>a{
    text-decoration: none; 
    color:var(--base-color);
    background-color: var(--primary-color);
}
/* nav ends */

/* header & countdown*/
#header{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
#header-div{
    text-align: center;
}
#logo{
    width: 300px;
    height: 250px;
}
#counter{
    margin-bottom: 20px;
}
.button{
    background-color: #FFFFF4;
    width: 110px;
    height: 37px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
#countdown{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border-radius: 10px;
    margin-bottom: 4vh;
}
#countdown > span{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--base-logo);
    color:var(--content-font);
    width: 100%;
    height: 5vh;
    padding: 10px;
}
.static{
    font-weight: 200;
}
#seconds{
    background-color: var(--base-logo);
    color:var(--secondary-color);
}
.jumpy{
    animation: jumpy 1s infinite 0s ease-in-out;
      
}
/* header & countdown ends */
/* event details */
#event-details{
    min-height: 80vh;
}
.tab-header{
    margin-left: 14vw;
    margin-bottom: 20px;
    color: #2D3B57;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.tab-second-header{
    margin-left:  15vw;
    margin-bottom: 20px;
    color: #2D3B57;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.tab-content{
    font-size: 17px;
    margin: 10px  19vw 0px  19vw;
    text-justify: inter-word;
    text-align: justify;
    color: #2D3B57;
    font-family: 'Raleway', sans-serif;
}
/* event details ends */
/* faq */
#faq{
    min-height: 50vh;
    background-color: var(--primary-color);
}
#faq >h1{
    margin-left: 14vw;
    margin-bottom: 4vh;
    padding-top: 20px;
    color:var(--base-color);
    background-color: var(--primary-color);
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
#faq-content{
    width: 80%;
    margin:auto;
    background-color: var(--primary-color);
    display: grid;
    grid-row-gap: 4vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#faq-content p{
    padding: 10px;
    font-size: 13px;
}
#faq-content >div{
    background-color: var(--primary-color);
}
.collapsible {
  background-color: var(--base-color);
  cursor: pointer;
  padding: 18px;
  width: 80%;
  margin-left: 10%;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all 1s ease;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  margin-left: 10%;
  margin-bottom: 10%;
  width: 80%;
  display: none;
  overflow: hidden;
  background-color: var(--darken-base);
}
/* faq ends */
/* about us */
#about-us{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
}
#about-us >h1{
    margin-left: 14vw;
    padding-top: 20px;
    color:var(--base-color);
    background-color: var(--second-color);
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
#about-us >p{
    font-size: 17px;
    margin: 10px  19vw 0px  19vw;
    text-justify: inter-word;
    text-align: justify;
    color: var(--base-color);
    background-color: var(--second-color);
    font-family: 'Raleway', sans-serif;
}
#about-us >img{
    width: 50%;
    margin: auto;
    background-color: var(--second-color);
}
/* about us ends */
/* footer and credit */
#footer{
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#footer >h1{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}
#footer> h4{
    margin-top: 2vh; 
    font-weight: 300;
}
#footer-image >img{
    width: 100px;
    margin: 4vh 4vw 0 4vw;
}
/* footer */
#credit{
    min-height: 4vh;
    text-align: center;
    font-size: 14px;
    background-color: var(--darken-base);
}
/* footer and credit ends */
@media(max-width:700px){
    #nav-bar{
        justify-content: center;
    }
    
    #event-details{
        margin-bottom: 10%;
    }
    #faq{
        min-height: 100vh;
    }
    #faq-content{
        grid-template-columns: 1fr;
    }
    #faq >h1{
        margin-left: 4vw;
    }
    .content{
        margin-bottom: 0%;
    }
    .tab-content{
        margin: 10px  5vw 0px  5vw;
        
    }
    .tab-header{
        margin-left: 4vw;
    }
    .tab-second-header{
        margin-left:  5vw;
    }
    
    #about-us >p{
        margin: 10px  5vw 0px  5vw;
    }
    #about-us > h1{
        margin-left: 4vw;
    }
}